.RepoList {
  text-align: center;
}

#RepoList_input {
  width: 300px;
}

.RepoList-header {
  background-color: darkblue;
  height: 50px;
  padding: 20px;
  color: white;
}

.RepoList-body {
  background-color: darkblue;
  height: 200px;
  padding: 20px;
  text-align: left;
  color: white;
}

.RepoList-error {
  background-color: red;
  display: none;
  height: 100px;
  padding: 20px;
  color: white;
}


